# GBA ROM
*.gba

# Build folder
build/*

# Compressed graphics, created as part of the compilation process
*.cdat
*.rle
*.dat

# Unneeded artifacts
*_oameditor.bin
*.bak
*.pal
flipscfg.bin

# My personal folder to not clutter the project.
ShaffyOnly/*

# Emulator stuff
*.sav
*.sgm
*.ss1
*.ss2
*.ss3
*.ss4
*.ss5
*.ss6
*.ss7
*.ss8
*.ss9
*.sps
*.cheats